<?xml version="1.0" encoding="utf-8" ?>
<data>
  <version>1.0.1</version>
  <changelog>
    2.0.1
      Fixed an error while drawing off bounds
      Updated external resources
      
    >>02/05/2018 (2.0.0)
    
    -> Material Design
        Entire program has been redesigned to use Material Design UI instead.
    -> Other changes
        Async update checker
        Added Cemetery Orb
        Added ALL missing sprites
      
    [Upcoming changes]
    Actual support for Water, Fog, Fake Blood, etc
  </changelog>
</data>

  
