<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net471" developmentDependency="true" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net471" />
  <package id="Fody" version="2.0.7" targetFramework="net452" developmentDependency="true" requireReinstallation="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net452" />
  <package id="ShowMeTheXAML" version="1.0.9" targetFramework="net461" />
</packages>